assets/ffmpeg.drawio.png filter=lfs diff=lfs merge=lfs -text
assets/buildJNI.png filter=lfs diff=lfs merge=lfs -text
assets/image.png filter=lfs diff=lfs merge=lfs -text
assets/image-1.png filter=lfs diff=lfs merge=lfs -text
assets/image-2.png filter=lfs diff=lfs merge=lfs -text
assets/image-3.png filter=lfs diff=lfs merge=lfs -text
assets/image-4.png filter=lfs diff=lfs merge=lfs -text
assets/record.gif filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/assets filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/assets/output.mp4 filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/assets/output.mp4:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavdevice.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavformat.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavutil.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavcodec.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavcodec.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavformat.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libmp4parser.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libswresample.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavdevice.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libmp4parser.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libswscale.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavfilter.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavfilter.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libavutil.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libswresample.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/arm64-v8a/libswscale.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavdevice.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libmp4parser.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libswscale.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavdevice.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavfilter.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavformat.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libmp4parser.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libswresample.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libswscale.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavcodec.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavformat.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavutil.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavcodec.so:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavutil.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libswresample.so filter=lfs diff=lfs merge=lfs -text
ffmpegAndroid/app/src/main/jniLibs/x86_64/libavfilter.so filter=lfs diff=lfs merge=lfs -text
